#introBackground {
  background-color: #808487;
}
#mainBackground {
  background-color: #3f3f3f;
}
body {
  font-family: 'Capriola', sans-serif;
}
#obiWanKenobi {
  font-family: 'Pacifico', cursive;
}
.personalPicture {
  max-height: 20rem;
  object-fit: contain;
}
/* icons styling */
.iconsShadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px grey;
}
#githubColor {
  color: #24292E;
}
#linkedInColor {
  color: #0077B5;
}
#gmailColor {
  color: #D54B3D;
}
#html5Color {
  color: #E34C26;
}
#bgHTML5 {
  background-color: #E34C26;
}
#css3Color {
  color: #264DE4;
}
#bgCSS3 {
  background-color: #264DE4;
}
#bootstrapColor {
  color: #563E7C;
}
#bgBootstrap {
  background-color: #563E7C;
}
#javascriptColor {
  color: #F7DF1E;
}
#bgJS {
  background-color: #F7DF1E;
}
#wordpressColor {
  color: #1D88B8;
}
#bgWP {
  background-color: #1D88B8;
}
#phpColor {
  color: #7B70B5;
}
#bgPHP {
  background-color: #7B70B5;
}
#MySQL {
  max-height: 3rem;
  margin: auto;
}
#bgMySQL {
  background-color: ##00546D;
}
.diplomasBG {
  background-color: #00758F;
}
.professionalBG {
  background-color: #750009;
}
/* lists styling */
li {
  margin: 1rem;
}
/* Bootstrap classes adjustments */

/* media query */
@media screen and (min-width: 768px) {
  .adaptiveColumn {
    flex-direction: column;
  }
}
