#introductionBackground {
  background-color: #87ba87;
/* lists styling */
li::before {
content: '';
position: absolute;
background-color: rgba(0, 0, 0, 0.3);
width: 80%;
height: 1px;
}
.skillsList {
  background: #7abaff;
}
.diplomasList {
  background: #a0a0a0;
}
.experiencesList {
  background: #d66b74;
}
.hobbiesList {
  background: #eac760;
}
/* end of list styling */
